<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=	, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	{% comment %} <script src="https://gist.github.com/MrKooka/704c4d134650f34034f55f42b4fd93e5.js"></script> {% endcomment %}
</body>
<script src="https://unpkg.com/react/umd/react.production.min.js" crossorigin></script>

<script
  src="https://unpkg.com/react-dom/umd/react-dom.production.min.js"
  crossorigin></script>
<script
  src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js"
  crossorigin></script>

{% comment %} <script>var Alert = ReactBootstrap.Alert;</script> {% endcomment %}
</html>